# ElevenLabs API Keys (Comma-separated list for rotation)
ELEVENLABS_API_KEYS=your_elevenlabs_keys

# ElevenLabs Voice Configuration
ELEVENLABS_VOICE_ID=your_voice_id

# Hugging Face Access Token
HF_TOKEN=your_hugging_face_token

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id
